# coding: utf-8

"""
ProductsApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ProductsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_products(self, country_code, version, source, **kwargs):
        """
        Get a list of products
        Get a list of products. The products returned may have variants. Products returned are only those within the overall recipe. All images returned from the service are dynamically resizable by adding width and height querystrings.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_products(country_code, version, source, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_code: The country code where it would be shipped to. For example, 'US' or 'CA' (required)
        :param int version: Version of the api being used (required)
        :param str source: Description of the source-- ios, android, api (required)
        :param str partner_billing_key: Partner billing key
        :param str all: Whether or not to return all available printio products, or just ones in your recipe. Pass 'true' or 'false'.
        :param str language_code: Two-character language code, defaults to \"en\" (english)
        :param str currency_code: Three character currency code, defaults to \"USD\" (united states dollar)
        :return: ProductList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country_code', 'version', 'source', 'partner_billing_key', 'all', 'language_code', 'currency_code']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_products" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'country_code' is set
        if ('country_code' not in params) or (params['country_code'] is None):
            raise ValueError("Missing the required parameter `country_code` when calling `get_products`")
        # verify the required parameter 'version' is set
        if ('version' not in params) or (params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `get_products`")
        # verify the required parameter 'source' is set
        if ('source' not in params) or (params['source'] is None):
            raise ValueError("Missing the required parameter `source` when calling `get_products`")

        resource_path = '/v/{version}/source/{source}/products/'.replace('{format}', 'json')
        path_params = {}
        if 'version' in params:
            path_params['version'] = params['version']
        if 'source' in params:
            path_params['source'] = params['source']

        query_params = {}
        if 'partner_billing_key' in params:
            query_params['partnerBillingKey'] = params['partner_billing_key']
        if 'country_code' in params:
            query_params['countryCode'] = params['country_code']
        if 'all' in params:
            query_params['all'] = params['all']
        if 'language_code' in params:
            query_params['languageCode'] = params['language_code']
        if 'currency_code' in params:
            query_params['currencyCode'] = params['currency_code']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ProductList',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
