# coding: utf-8

"""
ProductvariantsApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ProductvariantsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_productvariants(self, country_code, product_id, version, source, **kwargs):
        """
        Get a list of available product variations. Includes pricing information
        Get a list of all available product variations, or if one passes in a specific product type id (productId), gets a list of available variations of a recipe product.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_productvariants(country_code, product_id, version, source, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str country_code: The country code the order would be shipped to. For example, 'US' or 'FR' (required)
        :param str product_id: Recipe product ID, such as those returned from the /products service (required)
        :param int version: Version of the api being used (required)
        :param str source: Description of the source-- ios, android, api, widget (required)
        :param str all: Whether or not to return all available printio products, or just ones in your recipe. Pass 'true' or 'false'.
        :param str language_code: Two-character language code, defaults to \"en\" (english)
        :param str currency_code: Three character currency code, defaults to \"USD\" (united states dollar)
        :return: ProductVariantResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country_code', 'product_id', 'version', 'source', 'all', 'language_code', 'currency_code']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_productvariants" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'country_code' is set
        if ('country_code' not in params) or (params['country_code'] is None):
            raise ValueError("Missing the required parameter `country_code` when calling `get_productvariants`")
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params) or (params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_productvariants`")
        # verify the required parameter 'version' is set
        if ('version' not in params) or (params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `get_productvariants`")
        # verify the required parameter 'source' is set
        if ('source' not in params) or (params['source'] is None):
            raise ValueError("Missing the required parameter `source` when calling `get_productvariants`")

        resource_path = '/productvariants/v/{version}/source/{source}/'.replace('{format}', 'json')
        path_params = {}
        if 'version' in params:
            path_params['version'] = params['version']
        if 'source' in params:
            path_params['source'] = params['source']

        query_params = {}
        if 'country_code' in params:
            query_params['countryCode'] = params['country_code']
        if 'product_id' in params:
            query_params['productId'] = params['product_id']
        if 'all' in params:
            query_params['all'] = params['all']
        if 'language_code' in params:
            query_params['languageCode'] = params['language_code']
        if 'currency_code' in params:
            query_params['currencyCode'] = params['currency_code']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ProductVariantResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
